@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300&display=swap');

.App{
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-image: url('./images/background.png');
  background-size: cover;
  background-position: center;
}